<h1>Welcome</h1>

<div id="reg">
  <h3>Register</h3>
  <ul>
    <% if flash[:reg_errors] %>
      <% flash[:reg_errors].each do |error| %>
          <li><%= error %></li>
      <% end %>
    <% end %>
  </ul>
  <form action='/users' method='post'>
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <table>
      <tr>
        <td>First Name: </td>
        <td><input type="text" name="user[first_name]" placeholder="First Name"/></td>
      </tr>
      <tr>
        <td>Last Name: </td>
        <td><input type="text" name="user[last_name]" placeholder="Last Name"/></td>
      </tr>
      <tr>
        <td>Email: </td>
        <td><input type="email" name="user[email]" placeholder="Email"/></td>
      </tr>
      <tr>
        <td>Location: </td>
        <td>
          <input type="text" name="user[city]" placeholder="City" size="12"/>
          <select name="user[state]">
            <% us_states.each do |state| %>
              <option value="<%=state[1]%>"><%=state[1]%></option>
            <% end %>
          </select>
        </td>
      </tr>
      <tr>
        <td>Birthday: </td>
        <td><input type="date" name="user[birthday]" max="<%= today %>"/></td>
      </tr>
      <tr>
        <td>Description: </td>
        <td><textarea name="user[description]"></textarea></td>
      </tr>
      <tr>
        <td>Password: </td>
        <td><input type="password" name="user[password]" placeholder="Password"/></td>
      </tr>
      <tr>
        <td colspan="2"><sup>*Password must be at least 8 characters long.</sup></td>
      </tr>
      <tr>
        <td>Password Confirmation: </td>
        <td><input type="password" name="user[password_confirmation]" placeholder="Password Confirmation"/></td>
      </tr>
      <tr>
        <td></td>
        <td><input type='submit' value='Register'></td>
      </tr>
    </table>
  </form>
</div>

<div id="login">
  <h3>Login</h3>
  <ul>
    <% if flash[:login_errors] %>
      <% flash[:login_errors].each do |error| %>
          <li><%= error %></li>
      <% end %>
    <% end %>
  </ul>
  <form action='/sessions' method='post'>
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <table>
      <tr>
        <td>Email: </td>
        <td><input type="email" name="login[email]" placeholder="Email"/></td>
      </tr>
      <tr>
        <td>Password: </td>
        <td><input type="password" name="login[password]" placeholder="Password"/></td>
      </tr>
      <tr>
        <td></td>
        <td><input type='submit' value='Login'></td>
      </tr>
    </table>
  </form>
</div>
