<h1>Update Product: <%=@product.name %></h1>
<ul>
  <% flash.each do |key, value| %>
    <% value.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  <% end %>
</ul>
<!-- <form action="/products/<%=@product.id%>" method='post'>
  <input type="hidden" name="_method" value="patch">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="text" name="product[name]" placeholder="name" value="<%=@product.name%>"/>
  <textarea name="product[description]" placeholder="description"><%=@product.description%></textarea>
  <input type="number" step="any" name="product[pricing]" value="<%=@product.pricing%>" />
  <input type='submit' value='update product'>
</form> -->
<%= form_for @product do |f| %>
  <%= f.label :name %><br/>
  <%= f.text_field :name %><br/>
  <%= f.label :description %><br/>
  <%= f.text_field :description %><br/>
  <%= f.label :price %><br/>
  <%= f.text_field :pricing %><br/>
  <%= f.label :category %><br/>
  <%= f.collection_select(:category_id, Category.all, :id, :name, :prompt => true) %><br/>
  <%= f.submit %>
<% end %>

<%= link_to "Back", products_path %>
